.header {
  width: 100%;
  align-items: center;
  -webkit-box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  display: flex;
  height: 7rem;
  justify-content: flex-start;
  position: relative;

  .hamburger__box {
    position: absolute;
    right: 2%;

    .hamburger {
      position: relative;
      width: 3rem;
      height: 3rem;
      border: none;
      background: linear-gradient(to bottom, $bSblue, $bSblue) no-repeat center;
      background-size: 100% 20%;
      transition: background-size $duration ease-in-out;
      cursor: pointer;
      outline: none;

      &:before,
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 20%;
        background-color: $bSblue;
        transition: transform $duration ease-in-out;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &.active {
        background-size: 0 0;

        &:before {
          transform: translateY(200%) rotate(45deg);
        }

        &:after {
          transform: translateY(-200%) rotate(-45deg);
        }
      }
    }
  }

  .header__logo {
    @include logo;
  }

  .header__nav {
    bottom: -8.8rem;
    -webkit-box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    left: 0;
    position: absolute;
    width: 100%;

    .header__nav__box__element {
      padding: .5rem 2rem;

      .header__nav__box__element__link {
        text-decoration: none;
        color: $bSgrayA5;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {

  .header {
    display: flex;

    .hamburger__box {
      display: none;
    }

    .header__nav {
      display: block;
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      bottom: 30%;
      left: 70%;

      .header__nav__box {
        display: flex;
        .header__nav__box__element {
          &:hover::after{
            content: '';
            display: block;
            height: .2rem;
            width: 100%;
            background-color: $bSblue;
            transform: translateY(2.6rem);
          }
        }
      }
    }
  }
}
