.media {
  width: 100%;
  background-color: $bSgrayF7;
  padding: 3rem;

  .media__box {
    background-color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    position: relative;

    .box__img1 {
      margin-left: 25%;
      height: 15rem;
      width: 15rem;
      border-radius: 4.1rem;
      background-color: $bSpink;
      transform: rotate(-45deg);
      position: absolute;
      top: 5%;
      left: 15%;
    }
    .box__image {
      height: 20vh;
      width: 30rem;
      background-image: url("../assets/Macbook.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 2;
    }

    .box__img2 {
      border-radius: 50%;
      height: 25vh;
      width: 25vh;
      background-color: $bSblue;
      margin: 2rem 0;

      .box__img2__image {
        height: 25vh;
        width: auto;
        margin-top: 1rem;
      }
    }

    .media__box__megaphone {
      background-color: $bSgreen;
      background-image: url("../assets/Trumpet.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: .5rem;
      height: 30vh;
      width: 100%;
    }

    .box__content__h3 {
      @include h3;
      padding: 2rem;
    }

    .box__content__p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.4rem;
      padding: 2rem;
    }
  }

  .media__box:first-of-type {
    padding-top: 5rem;
  }

}

@media (min-width: 720px) and (max-width: 999px) {
.media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .media__box {
    width: 40vw;
    height: 70vh;
  }
  .media__box:last-of-type {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 35vh;

    .box__content {
      background-color: white;
      width: 55%;
      height: 100%;
    }

    .media__box__megaphone {
      width: 40%;
      height: 100%;
    }
  }
}
}

@media (min-width: 1000px) {
  .media {
    padding: 5rem;

    .media__box {
      margin: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 40vh;

      .box__content {
        width: 50%;
        padding-bottom: 5rem;
      }
    }

    .media__box:first-of-type {
      flex-direction: row-reverse;
      padding: 0 5rem;
      .box__img1 {
        top: 12%;
        left: 45%;
      }
    }

    .media__box:last-of-type {
      background-color: transparent;
      justify-content: space-between;
      align-items: stretch;

      .box__content {
        background-color: white;
        width: 55%;
      }

      .media__box__megaphone {
        width: 40%;
        height: 100%;
      }
    }
  }
}